.transition-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  pointer-events: none;
  display: flex;
  overflow: hidden;
}

.transition-block {
  flex: 1;
  height: 100%;
  opacity: 1;
  background-color: var(--arche-navy);
  /* border-right: 1px solid #ffffff0d; */
  will-change: transform;
}

.transition-block:last-child {
  border-right: none;
}

.transition-logo-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  will-change: opacity, transform;
}

.transition-logo-image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  will-change: opacity, transform;
}

.transition-logo-image {
  width: auto;
  height: 200px;
  object-fit: contain;
  mix-blend-mode: multiply;
  filter: drop-shadow(0 0px 5px rgba(255, 255, 255, 0.3));
}

@media (max-width: 768px) {
  .transition-logo-image {
    height: 90px;
  }
}
